<div class="section tasks">
<ul class="tasksList list is-hoverable" *ngFor="let task of tasks">
  <li class="list-item">
    <input class="checkbox" type="checkbox" [checked]="task.status" (click)="changeTaskStatus(task)">  {{ task.title }}<a class="delete is-pulled-right" (click)="deleteTask(task)"></a>
  </li>
</ul>

<!-- <button (click)="showTasks()" >Get</button> -->
</div>

 <div class="section"> <!-- Input Section -->
  <div class="field"> <!-- Title Field -->
    <div class="control">
      <input class="input control" type="text" name="task-title" #taskTitleInput placeholder="Title...">
    </div>
  </div>
  <div class="field">  <!-- Description Field -->
    <div class="control"><input class="input control" type="text" name="task-desc" #taskDescInput placeholder="Desc...">
    </div>
  </div>
  <button class="addBtn button is-rounded is-pulled-right" (click)="newTask(taskTitleInput, taskDescInput)">Add</button><br>
</div>