<!-- 
<button (click)="getTasks()" >Get</button>
<ul class="tasksList" *ngFor="let task of tasks">
  <li><input type="checkbox" [checked]="task.done"> {{ task.title }}</li>
  
  <!-- <p>{{ task.done }}</p> -->
  <!-- <li class="checked">Pay bills</li> -->
  
<!-- </ul> -->
<!-- <p>{{tasks | json}}</p> -->
<!--<div class="taskInput">
    <input type="text" id="taskInput_title" placeholder="Title...">
    <input type="text" id="taskInput_desc" placeholder="Description">
    <span ng-click="newTask()" class="addBtn">Add</span>
</div> -->

<ul class="tasksList" *ngFor="let task of tasks">
  <li><input class="checkbox" type="checkbox" [checked]="task.status" value=" ">{{ task.title }}</li>
</ul>
<button (click)="showTasks()" >Get</button>